@{
    ViewData["Title"] = "Home Page";
}
@model System.Collections.Generic.IEnumerable<VirginMedia.MvcTest.Web.Models.SalesTransaction>;

<div class="text-center">
    <h1 class="display-4">Sales Transactions</h1>
    <div class="lead text-danger">
        @ViewBag.Error
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Segment", "Index", new { sortOrder = ViewBag.SegmentSortParm })
                </th>
                <th>
                    @Html.ActionLink("Country", "Index", new { sortOrder = ViewBag.CountrySortParm })
                </th>
                <th>
                    @Html.ActionLink("Product", "Index", new { sortOrder = ViewBag.ProductSortParm })
                </th>
                <th>
                    @Html.ActionLink("Discount Band", "Index", new { sortOrder = ViewBag.DiscountBandSortParm })
                </th>
                <th>
                    @Html.ActionLink("Units Sold", "Index", new { sortOrder = ViewBag.UnitsSoldSortParm })
                </th>
                <th>
                    @Html.ActionLink("Manufacturing Price", "Index", new { sortOrder = ViewBag.ManufacturingPriceSortParm })
                </th>
                <th>
                    @Html.ActionLink("Sale Price", "Index", new { sortOrder = ViewBag.SalePriceSortParm })
                </th>
                <th>
                    @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.Segment</td>
                    <td>@m.Country</td>
                    <td>@m.Product</td>
                    <td>@m.DiscountBand</td>
                    <td>@m.UnitsSold</td>
                    <td>@m.ManufacturingPrice</td>
                    <td>@m.SalePrice</td>
                    <td>@m.Date</td>
                </tr>
            }
        </tbody>
    </table>
</div>
